@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
}

body {
  @apply bg-gray-100 text-gray-900;
}

.dark body {
  @apply bg-gray-900 text-gray-100;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-500 rounded;
}

::-webkit-scrollbar-track {
  @apply bg-gray-800;
}
